body{
    font-family: inherit;
    padding: auto;
    margin: auto;
    background-color: gainsboro;
}

.container{
    width: 80%;
    margin: auto;
    
    
}

header{
    background-color: black;
    color: cornsilk;
    padding-top: 30px;
    min-height: 70px;
    
}

header a{
    color: cornsilk;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
        
}

header .highlight , header .current a{
    color: blueviolet;
    font-weight: bold;
    
}